@model IndexET_Db
@{
    ViewData["Title"] = "Meine Verwaltung";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Holstentor.Models.HomeRepository.HomeRep ivm = new Holstentor.Models.HomeRepository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@await Html.PartialAsync("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Meine Verwaltung</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Bearbeiten Sie die Informationen</h5>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <!-- Pagination -->
                            <div class="col-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li><a class="btn btn-secondary mr-3" href="/Admin"><i class="fas fa-chevron-circle-left mr-2"></i>Meine Verwaltung</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End of Pagination -->
                            <div class="tab-pane fade show active">
                                <div class="container">
                                    <form class="col px-5 px-lg-8 py-6 py-lg-0 mt-3" asp-controller="Admin" asp-action="KopfzeileFusszeileUeberConfirmed" method="post">
                                        <input type="hidden" asp-for="@Model.IDIndex" name="id" value="@Model.IDIndex" />
                                        <input type="hidden" asp-for="@Model.IDIndex" name="IDIndex" value="@Model.IDIndex" />
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Straße" asp-for="Street" name="Street">
                                            <span asp-validation-for="Street" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Nummer" asp-for="Number" name="Number">
                                            <span asp-validation-for="Number" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Postleitzahl" asp-for="PostCode" name="PostCode">
                                            <span asp-validation-for="PostCode" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Stadt" asp-for="City" name="City">
                                            <span asp-validation-for="City" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Land" asp-for="Country" name="Country">
                                            <span asp-validation-for="Country" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <textarea type="text" class="form-control form-control-lg" rows="3" placeholder="Beschreibung" asp-for="Description" name="Description"></textarea>
                                            <span asp-validation-for="Description" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        @*<div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="E-Mail-Adresse" asp-for="Email" name="Email">
                                            <span asp-validation-for="Email" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>*@
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="EmbedLinkGoogleMap" asp-for="EmbedLinkGoogleMap" name="EmbedLinkGoogleMap">
                                            <span asp-validation-for="EmbedLinkGoogleMap" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" class="form-control form-control-lg" placeholder="Websitename" asp-for="NameSite" name="NameSite">
                                            <span asp-validation-for="NameSite" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="tel" class="form-control form-control-lg" placeholder="Telefonnummer" asp-for="PhoneNumber" name="PhoneNumber">
                                            <span asp-validation-for="PhoneNumber" class="bg-primary text-white" aria-hidden="true"></span>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-success btn-block mb-4 text-capitalize">Bearbeiten<i class="fas fa-edit ml-2"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1200"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
@await Html.PartialAsync("P_Footer")
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}